/*Hoja de estilos. Creado por David Perez para Kushki Colombia*/

.contenedorKushki{
	margin: auto;
	width: 73%;
	padding-top: 30px;
	height: 455px;
}
.leftKushki{
	float: left;
	width: 49%;
	margin: auto;
}
.rightKushki{
	float: left;
	width: 49%;
	margin: auto;
	padding-left: 17px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.card{
	margin: 0px 40px;
	float: left;
}

.containterCards{
	margin: auto;
	width: 65%;
}